


name: CI



on: [push, workflow_dispatch]



jobs:


  build:



    runs-on: windows-latest



    steps:


    - name: Download


      run: Invoke-WebRequest https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip


    - name: Extract


      run: Expand-Archive ngrok.zip


    - name: Auth


      run: .\ngrok\ngrok.exe authtoken $Env:NGROK_AUTH_TOKEN


      env:


        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}


    - name: Enable TS


      run: http://drive.muavps.net/windows/Windows11iot.gz


    - run: https://ngrok-agent.s3.amazonaws.com/ngrok.asc


    - run: Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1


    - run: Set-LocalUser -Name "Administrator" -Password (ConvertTo-SecureString -AsPlainText "Gameon1" -Force)


    - name: Create Tunnel


      run: .\ngrok\ngrok.exe tcp 3389



